node_modules

# llms
llms*

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# VITE & VS CODE
/.vite
/.vscode

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Examples
examples/

# Blocks
blocks/

# Workshops
Workshops

# Version file
static/version.json